
# Operating system files
.DS_Store
Thumbs.db

# Editor and IDE files
.idea/
.vscode/
*.swp
*.swo

# Environment and local secrets
.env
.env.*
!.env.example

# Logs and temporary files
*.log
tmp/
temp/

# Python bytecode
*.pyc

*.whl

results/
tests/fixtures/chorwacja.MP4
tests/fixtures/warszawa.MP4
tests/fixtures/wilanow_1.MP4
tests/fixtures/wilanow_2.MP4